# Aave 
1. DG - https://colab.research.google.com/drive/1CvVD082u_V1axqoW9LnUHtq8QO4tkR1i#scrollTo=zkw3l8h0ZoX3

Goal - This notebook applies cleaning
1. Date formatting
2. Converting from uint256 into normal numbers using WAD and RAY

WAD = 10 ** 18 #int with 18 digits

RAY = 10 ** 27 #int with 27 digits

# Imports

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pathlib import Path

path = Path('/content/drive/MyDrive/colab_notebooks/algovera/defi')

# Read File

In [ ]:
import glob
import pandas as pd
import numpy as np


def read_file(fn):

    df = pd.read_csv(fn)

    df["timestamp"] = fn.split("/")[-1].split("_")[0]

    return df


def combine_like_files(fn, func):

    f_names = glob.glob(fn)

    df = pd.concat(map(func, f_names)).reset_index(drop=True)

    return df

df = combine_like_files(str(path/f"DataGathering/aaveV2/aave_mainnet/*.csv"),read_file)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674305 entries, 0 to 1674304
Data columns (total 15 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   id                        1674305 non-null  object
 1   symbol                    1674276 non-null  object
 2   aEmissionPerSecond        1674305 non-null  int64
 3   decimals                  1674305 non-null  int64
 4   totalATokenSupply         1674305 non-null  object
 5   price                     1674305 non-null  object
 6   vEmissionPerSecond        1674305 non-null  int64
 7   pool                      1674305 non-null  object
 8   totalCurrentVariableDebt  1674305 non-null  object
 9   utilizationRate           1674305 non-null  float64
 10  totalLiquidity            1674305 non-null  object
 11  liquidityRate             1674305 non-null  object
 12  variableBorrowRate        1674305 non-null  object
 13  availableLiquidity        1674305 non-null  object
 14  timestamp                 1674305 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 191.6+ MB

In [ ]:
df

,id,symbol,aEmissionPerSecond,decimals,totalATokenSupply,price,vEmissionPerSecond,pool,totalCurrentVariableDebt,utilizationRate,totalLiquidity,liquidityRate,variableBorrowRate,availableLiquidity,timestamp
0,0x0000000000085d4780b73119b644ae5ecd22b3760xb5...,TUSD,64158288472709,18,97886326775075687855819631,{'priceInEth': '323940190000000'},128316576945418,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,61633473810366128672866418,0.632026,95323529800881063315901410,18889701170375274785916688,32043035569773591262405893,35076551497919962984588023,1650409200
1,0x004375dff511095cc5a197a54140a24efef3a4160xac...,AmmUniWBTCUSDC,0,18,47014880,{'priceInEth': '16482016470393761651677042610'},0,{'id': '0xacc030ef66f9dfeae9cbb0cd1b25654b82cf...,0,0.000000,47014880,0,30000000000000000000000000,47014880,1650409200
2,0x03ab458634910aad20ef5f1c8ee96f1d6ac549190xb5...,RAI,9846555646706,18,5268619967103378888615515,{'priceInEth': '986946495919239'},19693111293413,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,3720246179671586361943009,0.688200,4965608161335506801541645,19945767871532478022018294,35307371637814954695553896,1548277697998218909633561,1650409200
3,0x056fd409e1d7a124bd7017459dfea2f387b6d5cd0xb5...,GUSD,0,2,1115884534,{'priceInEth': '322647321591660'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,648340953,0.533253,1001838158,15201318811851783515037187,29060586913714311954950913,467604528,1650409200
4,0x0bc529c00c6401aef6d220be8c6ea1667f6ad93e0xb5...,YFI,23204645595171,18,1578784125864016266970,{'priceInEth': '6231144210000000000'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,409457061511282893897,0.244410,1547484108188548995831,8375618782430851940071858,40355824127729335848212944,1169264088479416005350,1650409200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674300,0xd533a949740bb3306d119cc777fa900ba034cd520xb5...,CRV,0,18,8340995603543497532282110,{'priceInEth': '1535730260535332'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,1690205082675633414898727,0.165688,7971872108352269405067716,6387241555905729372503508,31520959831458920712951447,6651029714171459406862451,1611681200.0
1674301,0xdac17f958d2ee523a2206206994597c13d831ec70xb5...,USDT,0,6,35962793151098,{'priceInEth': '766230000000000'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,11217091952015,0.910910,35746320384881,82562240628862276252589316,108346757985553494163838644,3184654314344,1611681200.0
1674302,0xdd974d5c2e2928dea5f71b9825b8b646686bd2000xb5...,KNC,0,18,275776415022295134605390,{'priceInEth': '972095537220568'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,29766382488079185588864,0.107766,275715796359713954775831,1147261091633315244102292,13285394476835282220372880,246003124296814304462638,1611681200.0
1674303,0xe41d2489571d322189246dafa5ebde1f4699f4980xb5...,ZRX,0,18,260146056074597898929410,{'priceInEth': '395210000000000'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,19885310241050773015265,0.079279,260127260370195084803600,954435607074942720744074,12342625892858394299414073,239504661240653952549179,1611681200.0
1674304,0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c0xb5...,ENJ,0,18,2428952141829432403165557,{'priceInEth': '318290000000000'},0,{'id': '0xb53c1a33016b2dc2ff3653530bff1848a515...,61162317994540427640832,0.042988,2428373300024745352658570,309984578478828459239028,6722034292930771404498236,2323981892722746561378909,1611681200.0

# Cleaning

In [ ]:
df_copy = df.copy()

def eval_col(df,cols):

    for col in cols:
        df[col] = df[col].apply(lambda x: eval(x))

    return df

df_cleaned = eval_col(df_copy,["price","pool"])

p = pd.json_normalize(df_copy["price"])
pp = pd.json_normalize(df_copy["pool"]).rename(columns={"id":"pool_id"})
df_cleaned = pd.concat([df_copy,p,pp],axis=1).drop(columns=["price","pool"])
df_cleaned["timestamp"] = df_cleaned["timestamp"].astype(float).astype(int)

In [ ]:
df_cleaned

,id,symbol,aEmissionPerSecond,decimals,totalATokenSupply,vEmissionPerSecond,totalCurrentVariableDebt,utilizationRate,totalLiquidity,liquidityRate,variableBorrowRate,availableLiquidity,timestamp,priceInEth,pool_id
0,0x0000000000085d4780b73119b644ae5ecd22b3760xb5...,TUSD,64158288472709,18,97886326775075687855819631,128316576945418,61633473810366128672866418,0.632026,95323529800881063315901410,18889701170375274785916688,32043035569773591262405893,35076551497919962984588023,1650409200,323940190000000,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
1,0x004375dff511095cc5a197a54140a24efef3a4160xac...,AmmUniWBTCUSDC,0,18,47014880,0,0,0.000000,47014880,0,30000000000000000000000000,47014880,1650409200,16482016470393761651677042610,0xacc030ef66f9dfeae9cbb0cd1b25654b82cfa8d5
2,0x03ab458634910aad20ef5f1c8ee96f1d6ac549190xb5...,RAI,9846555646706,18,5268619967103378888615515,19693111293413,3720246179671586361943009,0.688200,4965608161335506801541645,19945767871532478022018294,35307371637814954695553896,1548277697998218909633561,1650409200,986946495919239,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
3,0x056fd409e1d7a124bd7017459dfea2f387b6d5cd0xb5...,GUSD,0,2,1115884534,0,648340953,0.533253,1001838158,15201318811851783515037187,29060586913714311954950913,467604528,1650409200,322647321591660,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
4,0x0bc529c00c6401aef6d220be8c6ea1667f6ad93e0xb5...,YFI,23204645595171,18,1578784125864016266970,0,409457061511282893897,0.244410,1547484108188548995831,8375618782430851940071858,40355824127729335848212944,1169264088479416005350,1650409200,6231144210000000000,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674300,0xd533a949740bb3306d119cc777fa900ba034cd520xb5...,CRV,0,18,8340995603543497532282110,0,1690205082675633414898727,0.165688,7971872108352269405067716,6387241555905729372503508,31520959831458920712951447,6651029714171459406862451,1611681200,1535730260535332,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
1674301,0xdac17f958d2ee523a2206206994597c13d831ec70xb5...,USDT,0,6,35962793151098,0,11217091952015,0.910910,35746320384881,82562240628862276252589316,108346757985553494163838644,3184654314344,1611681200,766230000000000,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
1674302,0xdd974d5c2e2928dea5f71b9825b8b646686bd2000xb5...,KNC,0,18,275776415022295134605390,0,29766382488079185588864,0.107766,275715796359713954775831,1147261091633315244102292,13285394476835282220372880,246003124296814304462638,1611681200,972095537220568,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
1674303,0xe41d2489571d322189246dafa5ebde1f4699f4980xb5...,ZRX,0,18,260146056074597898929410,0,19885310241050773015265,0.079279,260127260370195084803600,954435607074942720744074,12342625892858394299414073,239504661240653952549179,1611681200,395210000000000,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5
1674304,0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c0xb5...,ENJ,0,18,2428952141829432403165557,0,61162317994540427640832,0.042988,2428373300024745352658570,309984578478828459239028,6722034292930771404498236,2323981892722746561378909,1611681200,318290000000000,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5

In [ ]:
df_cleaned.to_csv(path/"DataGathering/aaveV2/snapshot/precalculated_aave_V2_mainnet_2021_2022.csv",index=False)

In [ ]:
df_cleaned = pd.read_csv(path/"DataGathering/aaveV2/snapshot/precalculated_aave_V2_mainnet_2021_2022.csv")

# Calculations

In [ ]:
RAY = 10 ** 27 #int with 27 digits
WAD = 10 ** 18 #int with 18 digits
SECONDS_PER_YEAR = 31536000


wad_cols = ["aEmissionPerSecond","vEmissionPerSecond","priceInEth"]

ray_cols = ["variableBorrowRate","liquidityRate"]

token_decimals = ["totalATokenSupply","totalCurrentVariableDebt","totalLiquidity","availableLiquidity"]

annualize_cols = ["aEmissionPerSecond","vEmissionPerSecond"]

cols_convert = wad_cols + ray_cols + token_decimals + annualize_cols

for col in cols_convert:

     df_cleaned[col] = df_cleaned[col].astype(float)

In [ ]:
df_cleaned.dtypes

id                           object
symbol                       object
aEmissionPerSecond          float64
decimals                      int64
totalATokenSupply           float64
vEmissionPerSecond          float64
totalCurrentVariableDebt    float64
utilizationRate             float64
totalLiquidity              float64
liquidityRate               float64
variableBorrowRate          float64
availableLiquidity          float64
timestamp                     int64
priceInEth                  float64
pool_id                      object
dtype: object

In [ ]:

def calc_APR_APY(df,cols):

    for col in cols:

        col_name_APR = "_".join([col,"APR"])

        col_name_APY = "_".join([col,"APY"])

        df[col_name_APR] =  df[col].astype(float) / RAY

        df[col_name_APY] =  ((1 + (df[col_name_APR] / SECONDS_PER_YEAR)) ** SECONDS_PER_YEAR) - 1

    return df

def convert_WAD(df,cols):

    for col in cols:

        df[col] = df[col] / WAD

    return df

def convert_TokenDecimals(df,cols):

    for col in cols:

        df[col] = df[col] / 10 ** df["decimals"]
       
    return df

def annualize(df,cols):

    for col in cols:

        df[col] = SECONDS_PER_YEAR * df[col] / WAD

    return df

# Calculation Pipe

In [ ]:
select_tokens = ["TUSD","USDC","DAI","USDT","GUSD","WETH"]

df_st = (df_cleaned.query('''
                        symbol == "TUSD" | symbol == "USDC" | \
                        symbol == "DAI" | symbol == "USDT" | \
                        symbol == "GUSD" | symbol == "WETH" 
                        '''
                        ).sort_values("timestamp",ascending=True).reset_index(drop=True)

)

In [ ]:
df_st.dtypes

id                           object
symbol                       object
aEmissionPerSecond          float64
decimals                      int64
totalATokenSupply           float64
vEmissionPerSecond          float64
totalCurrentVariableDebt    float64
utilizationRate             float64
totalLiquidity              float64
liquidityRate               float64
variableBorrowRate          float64
availableLiquidity          float64
timestamp                     int64
priceInEth                  float64
pool_id                      object
dtype: object

In [ ]:
#Carries each function out and returns a df
df_converted = (df_st
                .pipe(convert_WAD, cols=wad_cols)
                .pipe(calc_APR_APY,cols=ray_cols)
                .pipe(convert_TokenDecimals,cols=token_decimals)
                .pipe(annualize,annualize_cols)
)

In [ ]:
df_converted.head()

,id,symbol,aEmissionPerSecond,decimals,totalATokenSupply,vEmissionPerSecond,totalCurrentVariableDebt,utilizationRate,totalLiquidity,liquidityRate,variableBorrowRate,availableLiquidity,timestamp,priceInEth,pool_id,variableBorrowRate_APR,variableBorrowRate_APY,liquidityRate_APR,liquidityRate_APY
0,0xdac17f958d2ee523a2206206994597c13d831ec70xb5...,USDT,0.0,6,1.079244e+07,0.0,4.029725e+06,0.876856,1.075290e+07,4.428467e+25,3.899020e+25,1.324157e+06,1609471800,0.001339,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0.03899,0.03976,0.044285,0.04528
1,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc20xb5...,WETH,0.0,18,7.133432e+04,0.0,2.720729e+03,0.039111,7.133237e+04,1.985588e+23,4.816717e+24,6.854247e+04,1609471800,1.000000,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0.004817,0.004828,0.000199,0.000199
2,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb480xb5...,USDC,0.0,6,1.881223e+07,0.0,5.280363e+06,0.856292,1.877503e+07,4.587959e+25,3.806869e+25,2.698127e+06,1609471800,0.001336,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0.038069,0.038803,0.04588,0.046948
3,0x6b175474e89094c44da98b954eedeac495271d0f0xb5...,DAI,0.0,18,1.357675e+07,0.0,5.728161e+06,0.834698,1.355046e+07,9.551771e+25,1.712219e+26,2.239924e+06,1609471800,0.001347,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0.171222,0.186754,0.095518,0.100228
4,0x0000000000085d4780b73119b644ae5ecd22b3760xb5...,TUSD,0.0,18,9.055443e+05,0.0,2.872471e+04,0.997839,9.050480e+05,7.244701e+25,7.819001e+26,1.955938e+03,1609471800,0.001336,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0.7819,1.185621,0.072447,0.075136

In [ ]:
df_converted["symbol"].value_counts()

USDT    35468
WETH    35468
USDC    35468
DAI     35468
TUSD    35468
GUSD    35388
Name: symbol, dtype: int64

In [ ]:
import time
import datetime
  
def _define_date_range(start,end):

    start_date = datetime.datetime.strptime(start,"%m/%d/%Y").timetuple()
    end_date = datetime.datetime.strptime(end,"%m/%d/%Y").timetuple()

    return time.mktime(start_date),time.mktime(end_date)

def make_datasets(df,start,end):

    start_timestamp, end_timestamp = _define_date_range(start,end) 

    return df_st.query(f'timestamp >= {start_timestamp} & timestamp <= {end_timestamp}')

In [ ]:
training_ds = make_datasets(df_converted,"01/01/2021","02/28/2022")
prod_mar_22 = make_datasets(df_converted,"03/01/2022","03/31/2022")
prod_apr_22 = make_datasets(df_converted,"04/01/2022","04/30/2022")
prod_may_22 = make_datasets(df_converted,"05/01/2022","05/31/2022")

In [ ]:
training_ds["symbol"].value_counts()

USDT    30300
WETH    30300
USDC    30300
DAI     30300
TUSD    30300
GUSD    30220
Name: symbol, dtype: int64

In [ ]:
prod_mar_22["symbol"].value_counts()

TUSD    2161
USDC    2161
WETH    2161
DAI     2161
GUSD    2161
USDT    2161
Name: symbol, dtype: int64

In [ ]:
prod_apr_22["symbol"].value_counts()

USDT    2089
GUSD    2089
USDC    2089
TUSD    2089
DAI     2089
WETH    2089
Name: symbol, dtype: int64

In [ ]:
prod_may_22["symbol"].value_counts()

WETH    705
TUSD    705
USDT    705
DAI     705
GUSD    705
USDC    705
Name: symbol, dtype: int64

In [ ]:
ds_list = [("training_ds",training_ds),("prod_mar_22",prod_mar_22),("prod_apr_22",prod_apr_22),("prod_may_22",prod_may_22)]

# Save DF

In [ ]:
for ds in ds_list:
    ds[1].to_csv(path/f"DataGathering/aaveV2/snapshot/aave_V2_mainnet_{ds[0]}.csv",index=False)

# Visualize

In [ ]:
df_aave = pd.read_csv(path/"DataGathering/aaveV2/snapshot/aave_V2_mainnet_2021_2022.csv")

In [ ]:
df_aave

In [ ]:
import plotly.express as px


px.line(df_aave,x="Timestamp",y="variableBorrowRate",color="symbol",title="Borrowing Rate of Tokens",template="plotly_dark")

In [ ]:
ex_cols = ["decimals"]

excluded = [col for col in df_st.columns if col not in ex_cols]

df_st[excluded].corr().style.applymap(lambda x: "background-color: green" if x>0.40 else "background-color: gray")

In [ ]:
#main protocol
from ipfs import IPFS

#pinning providers
from nftstorage import NFTStorage
from pinataV1 import PinataV1


#helpers
from helper import read_file
import pandas as pd

In [ ]:
#Load in credentials - Not an optimal solution and can investigate a better solution with something like Lit Protocol

nft_storage = NFTStorage()
nft_storage_creds = nft_storage.get_creds()
ipfs = IPFS()
pinata = PinataV1()
pinata_creds = pinata.get_creds()

In [ ]:
nft_storage.upload_file(nft_storage_creds,path/"DataGathering/aaveV2/snapshot/aave_V2_mainnet_2021_2022.csv")

In [ ]:
response,log = ipfs.get_file("bafybeich6utiriv7s3obed5xsna2dhvtt3ahxbexbxrt4uddyrnamydsay")

df_load = read_file(response.content)

In [ ]:
df_load